/* *font-family sans-serif */
body {
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem
}
/* *grid placement */
.weblayout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "main";
    
}
.main {
    justify-self: center;
    background-color: #e6e6e658 !important;
    border: 1px solid #cfcfcf;
    border-radius: .2em
}

.title-star-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "project-title star";
}
.code-issues-pull {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "code issues pull-requests";
}
.grid-picture-issue-description {
    display: grid;
  grid-template-columns: 0.2fr 1.6fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "profile user-submission";
}
.star { grid-area: star; }
.project-title { grid-area: project-title; }
.column1 { grid-area: column1; }
.column2 { grid-area: column2; }
.main { grid-area: main; }
.code { grid-area: code; }  
.issues { grid-area: issues; }  
.pull-requests { grid-area: pull-requests; }
.profile { grid-area: profile; }
.user-submission { grid-area: user-submission; }

/* *overall */
a {
    text-decoration: none;
    color: black;
}
/* *Repository Section */
.trending {
    display: block ruby;
    font-size: .7em;
    margin-left: 6px;
}

/* *project title section */
.title-star-area {
    margin-left: 6px;
    }
.project-title {
    padding-top: 3px;
}
.project-title a {
    color: #3465f7;

}
.project-title a:hover {
    text-decoration: underline #3465f7;
}
.boldtext {
    font-weight: 600;
}
.star p {
    display: inline;
}
.project-title p {
    display: inline;
}
/* *project title button */
.star {
    display:flex;
    font-size: 12px;
    margin-left: 3em
}
.star a{
    border: solid 1px #e7e7e7;
    padding-right: 9px;
    color:black 
}
.starbutton {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 3px;
    margin-left: 16px;
    border-left-width: 1px;
    border-right-width: 0px;
    border-top-left-radius: .2em;
    border-bottom-left-radius: .2em;
    background-color: #7f7f7f36; 
    
}
.starbutton:hover {
    background-color: #e7e7e7;
    border: solid 1px #b8b8b8;

}
.starbutton svg {
    position: relative;
    bottom: -2px;
}
.socialcounter {
    padding-top: 4px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-top-right-radius: .2em;
    border-bottom-right-radius: .2em;
    margin-left: -1px;
    border-left-width: 0px;
    background-color:white
}

.socialcounter:hover {
    color: #3465f7;
}
/* *code issues pull section */
.code-issues-pull {
    font-size: 13px;
    display: flex;
    border-bottom: 1px solid black;
    margin-top: 10px;
    align-items:baseline;
    
    }
.issues, .code, .pull-requests {
    padding-right: 6px;
    padding-left: 6px;
    
}
.issues {
    border-bottom: 2px solid white;
    margin-bottom: -2px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    background-color: white;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
}
.issues svg path:nth-child(1) {
    fill: black;
}
.code svg, .issues svg, .pull-requests svg {
    width: 25%;
    position: relative;
    bottom: -3px;
    fill: black;
}
.pull-requests svg {
    width: 11%;
}
.issues svg {
    width: 22%;
}
/* *Open issue section */
.merge-float-posts {
    display: flex;
    background-color: white;
    }
.open-issue-section {
    background-color: white;
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 6px;
    padding-top: 10px;
}
.open-issue-button {
    display: flex;
    float: left;
    align-items: center;
    color: white;
    background-color: #2cbe4e;
    border-radius: .3em;
    height: 24px;
    margin-top: 11px;
    padding-right: 5px;
    padding-left: 2px;
    margin-right: 15px;
    padding-top: 0px;
    font-size: 13px;
}
.open-issue-button svg {
    padding-right: 5px;
}
.open-issue-button svg:nth-child(1) {    
    fill: white;
}
.issue-title {
    padding-right: 5px;
    margin-top: 6.933px;
    font-size: 18px;
    line-height: 29px;
}
.posts-count {
    align-items: center;
    display: flex;
    height: 59px;
    padding-right: 13px;
}
.posts-count svg {
    margin-bottom: 1px;
    margin-right: 6px;
}
/* *icon-username-section */
.profile a img {
    max-width: 35px;
    padding-left: 6px;
}
.profile {
    margin-right: 17px;
}
/* *user-submission section */
.grid-picture-issue-description {
    background: white;
    }
.user-submission {
    border: 1px solid grey;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    margin-right: 13px;
    display: flex;
    flex-direction: column;
}
/* TODO #triangle-left {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 100px solid red;
    border-bottom: 50px solid #f000;
    
} */
.icon-username-section {
    display: flex;
    align-content: space-around;
    margin-top: -5px;
    margin-right: 13px;
}
.user-creation-date {
    display: flex;    
    line-height: 0.4;
    border-bottom: 1px solid grey;
    padding-left: 8px;
    font-size: 11px;
    background: #e6e6e658;
}  
.commented {
    padding-right: 6px;
    padding-left: 6px;
}
.user {
    font-weight: 600;
    font-size: 13px;
    line-height: 0px;
}
.description {
    font-size: 0.8rem;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 8.8px;
    max-height: 155px;
    overflow: hidden;
 
}
.button-read-more {
    display: flex;
    justify-content: center;
    }
.read-more {
    margin-top: -36px;
    margin-bottom: 17px;
    font-size: 0.8rem;
    border: 1px solid black;
    border-radius: 0.3em;
    padding-right: 5px;
    padding-left: 5px;
    background-color: white;
    color: #3465f7;
}
.read-more:hover {
    background-color: #3465f7;
    color: white;
    border: 1px solid #3465f7;
}
.faded-description {
    height: 30px;
    z-index: 1;
    margin-top: -65px;
    margin-bottom: 0px;
    padding-bottom: 34px;
    margin-right: 10px;
    margin-left: 8px;
    margin-bottom: 1px;
    position: sticky;
    background: rgba(255,255,255,1), rgba(255,255,255,0));
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0));
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}
.button-read-more {
    position: sticky;
    z-index: 2;
    }
/* *tags section */
.tags-section {
    background: white;
}
.grey-circle {
    height: 30px;
    width: 30px;
    background-color: #e6e6e68a !important;
    border-radius: 50%;
    display: inline-block;
    margin-left: 6px;
}
.grey-circle svg {
    padding-left: ;
    width: 21px;
    height: 31px;
    position: relative;
    right: -5px;
}
/* !Media Queries */
@media only screen and (min-width: 350) {
    .star {
        display:flex;
        padding-left: 14px;
    }
    .star a {            
        padding-right: 0px;
        }
    
}
@media only screen and (min-width: 400px) {
    .weblayout {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "main";
    }
    .title-star-area {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr;
    }
    .starbutton {
        margin-left: 9px
    }
}
@media only screen and (min-width: 500px) {
    .weblayout {
        display: grid;
        grid-template-columns: 1fr 0.2fr;
        grid-template-rows: 1fr;
        grid-template-areas: "main column2";
    }
    .main {
        max-width: 450px;
    }
}
@media only screen and (min-width: 700px) {
    .weblayout {
        display: grid;
        grid-template-columns: 0.5fr 1fr 0.5fr;
        grid-template-rows: 1fr;
        grid-template-areas: "column1 main column2";
    }
    .title-star-area {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 1fr;
    }
    .star {
        margin-left: 3em;
    }
@media only screen and (min-width: 1200px) {
    .weblayout {
        display: grid;
        grid-template-columns: .7fr 1fr .7fr;
        grid-template-rows: 1fr;
        gap: 1px 1px;
        grid-template-areas: "column1 main column2";
        
    }
    .main {
        max-width: 450px;
    }
    .title-star-area {
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        grid-template-rows: 1fr;
    }
    .star {
        padding-right: 23px;
        margin-left: 4em;
    }
    .starbutton {
        margin-left: 15px
    }
}
@media only screen and (min-width: 1600px) {
    
}
}
@media only screen and (min-width: 1920px) {
    .weblayout {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1px 1px;
        grid-template-areas: "column1 main column2";
    }
}
